version: '3.7'
services:
  es211-01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.6.2
    container_name: es211-01
    environment:
      - node.name=es211-01
      - cluster.name=es_v7
      - node.master=false
      - node.data=true
      - node.attr.zone=zone211
      - cluster.routing.allocation.awareness.attributes=zone
      - cluster.routing.allocation.awareness.force.zone.values=zone211,zone212
      - discovery.seed_hosts=es211-01,es211-02,118.69.166.178:9300,118.69.166.178:9301,118.69.166.178:9302
      - discovery.zen.minimum_master_nodes=1
      - cluster.initial_master_nodes=118.69.166.178:9301
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms256M -Xmx256M"
      - http.cors.enabled=true
      - http.cors.allow-origin=*
      - network.host=_eth0_
    ulimits:
      nproc: 65535
      memlock:
        soft: -1
        hard: -1
    cap_add:
      - ALL
    volumes:
      - es211-01-data:/usr/share/elasticsearch/data
      - logs:/var/log
      # - type: volume
      #   source: /logs/es212-ms/log
      #   target: /var/log
      # - type: volume
      #   source: esdata1
      #   target: /usr/share/elasticsearch/data
    networks:
      - elastic
    ports:
      - 9201:9200
      - 9301:9300
  es211-02:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.6.2
    container_name: es211-02
    environment:
      - node.name=es211-02
      - cluster.name=es_v7
      - node.master=false
      - node.data=true
      - node.attr.zone=zone211
      - cluster.routing.allocation.awareness.attributes=zone
      - cluster.routing.allocation.awareness.force.zone.values=zone211,zone212
      - network.host=0.0.0.0
      - discovery.seed_hosts=es211-01,es211-02,118.69.166.178:9300,118.69.166.178:9301,118.69.166.178:9302
      - discovery.zen.minimum_master_nodes=1
      - cluster.initial_master_nodes=118.69.166.178:9301
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms256M -Xmx256M"
      - http.cors.enabled=true
      - http.cors.allow-origin=*
      - network.host=_eth0_
    ulimits:
      nproc: 65535
      memlock:
        soft: -1
        hard: -1
    cap_add:
      - ALL
    volumes:
      - es211-02-data:/usr/share/elasticsearch/data
      - logs:/var/log
    networks:
      - elastic
    ports:
      - 9202:9200
      - 9302:9300
volumes:
  es211-01-data:
    driver: local
    driver_opts:
       o: bind
       type: none
       device: /logs/es211-01/data
  es211-02-data:
    driver: local
    driver_opts:
       o: bind
       type: none
       device: /logs/es211-02/data
  logs:
    driver: local
    driver_opts:
       o: bind
       type: none
       device: /logs/all-log
networks:
  elastic:
    driver: bridge
